/*Formatação Geral */
body{
     font-family: "Patrick+Hand+SC", "Patrick+Hand" , cursive;

}

h1 ,h2 ,h3{


	margin: 0;
    font-family: Handlee, Patrick+Hand, cursive;
    font-weight: 650;   
}

p{
  font-family: "Patrick+Hand", "Patrick+Hand+SC",  cursive;
}

 /*Cabeçalho ou Barra de Navegação */

.logo img{
       border-radius: 40%; 

}
nav{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00FF00;
    padding: 35px; 
       
}
nav ul{

    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} 


nav ul li{

     text-align: center;
     width: 100%;
     font-size: 1.5em;
     padding: 2%;	
}
 
 nav ul li a{

      display: inline-block;
      padding: 10px 0;
      width: 100%;
      text-decoration: none;
      color:  #006400;


 }


@media screen and (min-width: 768px){

/* Cabeçalho ou barra de navegação */
nav{

    flex-direction: row;
    justify-content: space-around;

}
nav ul{

     flex-direction: row;
     width: 70%;


}

}